<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:jrende="http://java.sun.com/jsf/composite/jrende"
	xmlns:composite="http://java.sun.com/jsf/composite">


<composite:interface>
	<composite:attribute name="value" />
</composite:interface>

<composite:implementation>
	<h:panelGroup layout="block">
		<h:form>
			<ul id="filterList">
				<ui:repeat var="filter" value="#{cc.attrs.value}">
					<li>
						<h:commandButton id="getFilterControlButton"
							action="#{filterControlBean.showControl(filter.id)}"
							class="filter-name" value="#{filter.id.humanReadableName}">
							<f:ajax render="@all" event="action" execute="getFilterControlButton" />
						</h:commandButton> 
						
						<h:commandButton id="removeFilterButton"
							action="#{filterControlBean.removeFilter(filter.id)}"
							class="remove-button" value="X">
						</h:commandButton>
					</li>
				</ui:repeat>
				<li>
					<h:commandButton id="getNewFilterControlButton" action="#{filterControlBean.showControl('NewFilter')}" class="add-button" value="Add new filter">
					<f:ajax render="@all" event="action" execute="getNewFilterControlButton" />
					</h:commandButton>
				</li>
			</ul>
			<h:panelGroup id="FilterControlView" layout="block">
				<jrende:FilterControlView />
			</h:panelGroup>
		</h:form>
			
	</h:panelGroup>
</composite:implementation>
</html>