<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:jrende="http://java.sun.com/jsf/composite/jrende"
	xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
</composite:interface>

<!-- Lista alla kontroller här, med namnet på filterdefinitionen som parameter på visibleControls -->
<composite:implementation>
		<h:panelGroup rendered="#{filterControlBean.visibleControls['Clouds']}">
			<ui:decorate template="/resources/jrende/controls/CloudsControl.xhtml"></ui:decorate>
        </h:panelGroup>
        <h:panelGroup rendered="#{filterControlBean.visibleControls['Contrast']}">
			<ui:decorate template="/resources/jrende/controls/ContrastControl.xhtml"></ui:decorate>
        </h:panelGroup>
        <h:panelGroup rendered="#{filterControlBean.visibleControls['GaussBlur']}">
			<ui:decorate template="/resources/jrende/controls/GaussBlurControl.xhtml"></ui:decorate>
        </h:panelGroup>
        <h:panelGroup rendered="#{filterControlBean.visibleControls['NewFilter']}">
			<ui:decorate template="/resources/jrende/controls/NewFilterControl.xhtml"></ui:decorate>
        </h:panelGroup>
</composite:implementation>
</html>