<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:jrende="http://java.sun.com/jsf/composite/jrende"
	xmlns:composite="http://java.sun.com/jsf/composite">


<composite:interface>
	<composite:attribute name="value" />
</composite:interface>

<composite:implementation>
		<h:selectOneListbox id="filterListbox"
			value="#{newFilterBean.filterChoice}">
			<f:selectItems value="#{newFilterBean.filters}" />
		</h:selectOneListbox>

		<h:commandButton action="#{newFilterBean.addNewFilter}" value="Add filter">
			<f:ajax execute="@form" render="@all" event="action" ></f:ajax>
		</h:commandButton>
</composite:implementation>
</html>