<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:jrende="http://java.sun.com/jsf/composite/jrende">
<h:head>
	<title><ui:insert name="title">FiltrStackr</ui:insert></title>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-type" />
	<link rel="stylesheet" type="text/css" href="resources/style.css" />
<!-- 	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script> -->
<!-- 	<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script> -->
<!-- 	<h:outputScript name="jquery" library="js" target="head"></h:outputScript> -->
<!-- 	<h:outputScript library="js" name="filterList.js" target="head"></h:outputScript> -->
</h:head>

<h:body>
	<div class="topmenu">
		<jrende:menu />
	</div>
	
	<div class="sidebar">
		<jrende:filterList value="#{userFilterBean.filterList}" />
	</div>
	
	<div class="main">
		<h1>Hej hej</h1>
		<jrende:picture />
	</div>
	
	<h:messages></h:messages>

</h:body>
</html>
