
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:jrende="http://java.sun.com/jsf/composite/jrende">
<h:head>
	<title>Custom list component testing</title>
	<link rel="stylesheet" type="text/css" href="resources/style.css" />
</h:head>
<h:body>
<h1>Hej</h1>
<jrende:controlView></jrende:controlView>
</h:body>
</html>