* {
	margin: 0;
	padding: 0;
}

.topmenu {
	background: rgb(252, 252, 252); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(252, 252, 252, 1) 0%,
		rgba(147, 147, 147, 1) 100% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(252,
		252, 252, 1) ), color-stop(100%, rgba(147, 147, 147, 1) ) );
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(252, 252, 252, 1) 0%,
		rgba(147, 147, 147, 1) 100% ); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(252, 252, 252, 1) 0%,
		rgba(147, 147, 147, 1) 100% ); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(252, 252, 252, 1) 0%,
		rgba(147, 147, 147, 1) 100% ); /* IE10+ */
	background: linear-gradient(to bottom, rgba(252, 252, 252, 1) 0%,
		rgba(147, 147, 147, 1) 100% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#fcfcfc',
		endColorstr='#939393', GradientType=0 ); /* IE6-9 */
	width: 100%;
	padding: 0.8em;
	margin-top: 0.6em;
	border-top: 1px solid gray;
	border-bottom: 1px solid #5F5F5F;
}

.topmenu button {
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%,
		rgba(255, 255, 255, 0.53) 100% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0
		, 0, 0.2) ), color-stop(100%, rgba(255, 255, 255, 0.53) ) );
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%,
		rgba(255, 255, 255, 0.10) 100% ); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%,
		rgba(255, 255, 255, 0.10) 100% ); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%,
		rgba(255, 255, 255, 0.10) 100% ); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%,
		rgba(255, 255, 255, 0.10) 100% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#33000000',
		endColorstr='#87ffffff', GradientType=0 ); /* IE6-9 */
	border: 1px solid #5F5F5F;
	border-radius: 3px;
	padding: 0.6em;
	padding-left: 2em;
	padding-right: 2em;
	font-family: arial;
	font-weight: bold;
	font-size: 1em;
	color: #333333;
	text-shadow: #EEEEEE 0px 1px;
}

.topmenu button:hover {
	background-color: rgba(255, 255, 255, 0.6);
}

.topmenu button:active {
	background-color: white;
}

.topmenu li {
	list-style: none;
}

.sidebar {
	display: inline-block;
	width: 9%;
}

ul#filterList {
	margin-left: 0em;
}

#filterList li {
	list-style: none;
}

#filterList li:hover {
	background-color: lightgray;
}

#filterList li {
	background-color: #7F7F7F;
	padding-left: 0.5em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

#filterList li:last-child {
	border-top: 1px solid black;
	border-bottom-right-radius: 1em;
	text-align: center;
	font-size: 0.8em;
	height: 0.8em;
}

.remove-button {
	text-align: center;
	float: right;
	width: 1.5em;
	border: 0;
	margin-right: 0.3em;
	color: black;
	background-color: transparent;
	height: 1.5em;
}

.remove-button:hover {
	box-shadow: inset 0 0 2px 2px gray;
}

.remove-button:active {
	background-color: white;
}

.main {
	background-color: #333333;
	display: inline-block;
	vertical-align: top;
	margin-left: -0.25em;
	width: 90%;
}

form#filter-selection-form {
	border: 1px solid gray;
	/* 	width: 10em; */
}

form#filter-selection-form select {
	border: 0;
	margin-left: auto;
	margin-right: auto;
}

form#filter-selection-form input {
	display: block;
	width: 100%;
}

.dialog {
	position: absolute;
	top: 0;
	bottom: 0;
	background-color: white;
}

.dialog div {
	padding-top: 1.2em;
	padding-right: 0.7em;
}

.close-dialog {
	border: 0;
	padding: 0.1em;
	padding-left: 0.25em;
	background-color: white;
	float: right;
}